$purple:#bdc3c7;
$purple-light:#ecf0f1;
$purple-dark:#54677e;

$blue:#3792cf;
$blue-light:#3498db;
$blue-dark:#2782be;

//button
$button-background-text:transparent;
$button-border-focus-text:#66b1ff;
$button-focus-disabled:#1269EC;
$button-border-hover-text:#66b1ff;
$button-hover-disabled:#1269EC;
$button-border-active-text:#1c7be0;

$button-color-default:#606266;
$button-background-default:#FFFFFF;
$button-border-default:#DCDFE6;
$button-color-focus-default:#409EFF;
$button-border-focus-default:#c6e2ff;
$button-background-focus-default:#ecf5ff;
$button-color-active-default:#3a8ee6;
$button-border-active-default:#3a8ee6;

$button-color-primary:#FFFFFF;
$button-background-primary:#409EFF;
$button-border-primary:#409EFF;
$button-background-focus-primary:#66b1ff;
$button-border-focus-primary:#66b1ff;
$button-color-focus-primary:#FFFFFF;
$button-background-hover-primary:#66b1ff;
$button-border-hover-primary:#66b1ff;
$button-color-hover-primary:#FFFFFF;
$button-background-active-primary:#3a8ee6;
$button-border-active-primary:#3a8ee6;
$button-color-active-primary:#FFFFFF;

$button-color-success:#FFFFFF;
$button-background-success:#67C23A;
$button-border-success:#67C23A;
$button-background-focus-success:#85ce61;
$button-border-focus-success:#85ce61;
$button-color-focus-success:#FFFFFF;
$button-background-hover-success:#85ce61;
$button-border-hover-success:#85ce61;
$button-color-hover-success:#FFFFFF;
$button-background-active-success:#5daf34;
$button-border-active-success:#5daf34;
$button-color-active-success:#FFFFFF;

$button-color-warning:#FFFFFF;
$button-background-warning:#ebb563;
$button-border-warning:#ebb563;
$button-background-focus-warning:#ebb563;
$button-border-focus-warning:#ebb563;
$button-color-focus-warning:#FFFFFF;
$button-background-hover-warning:#ebb563;
$button-border-hover-warning:#ebb563;
$button-color-hover-warning:#FFFFFF;
$button-background-active-warning:#cf9236;
$button-border-active-warning:#cf9236;
$button-color-active-warning:#FFFFFF;

$button-color-danger:#FFFFFF;
$button-background-danger:#F56C6C;
$button-border-danger:#F56C6C;
$button-background-focus-danger:#f78989;
$button-border-focus-danger:#f78989;
$button-color-focus-danger:#FFFFFF;
$button-background-hover-danger:#f78989;
$button-border-hover-danger:#f78989;
$button-color-hover-danger:#FFFFFF;
$button-background-active-danger:#dd6161;
$button-border-active-danger:#dd6161;
$button-color-active-danger:#FFFFFF;

$button-color-info:#FFFFFF;
$button-background-info:#909399;
$button-border-info:#909399;
$button-background-focus-info:#a6a9ad;
$button-border-focus-info:#a6a9ad;
$button-color-focus-info:#FFFFFF;
$button-background-hover-info:#a6a9ad;
$button-border-hover-info:#a6a9ad;
$button-color-hover-info:#FFFFFF;
$button-background-active-info:#82848a;
$button-border-active-info:#82848a;
$button-color-active-info:#FFFFFF;

$button-color-disabled:#C0C4CC;
$button-background-disabled:#FFFFFF;
$button-border-disabled:#EBEEF5;

$button-color-disabled-primary:#FFFFFF;
$button-background-disabled-primary:#a0cfff;
$button-border-disabled-primary:#a0cfff;

$button-color-disabled-success:#FFFFFF;
$button-background-disabled-success:#b3e19d;
$button-border-disabled-success:#b3e19d;

$button-color-disabled-warning:#FFFFFF;
$button-background-disabled-warning:#f3d19e;
$button-border-disabled-warning:#f3d19e;

$button-color-disabled-danger:#FFFFFF;
$button-background-disabled-danger:#fab6b6;
$button-border-disabled-danger:#fab6b6;

$button-color-disabled-info:#FFFFFF;
$button-background-disabled-info:#c8c9cc;
$button-border-disabled-info:#c8c9cc;

$button-background-loading:rgba(255, 255, 255, .35);