$purple: #bdc3c7;
$purple-light: #ecf0f1;
$purple-dark: #54677e;

$blue: #3792cf;
$blue-light: #3498db;
$blue-dark: #2782be;

//button
$button-background-plain: transparent;
$button-color-focus-plain: #409eff;
$button-color-hover-plain: #409eff;
$button-color-active-plain: #1269ec;
$button-focus-disabled: #1269ec;
$button-hover-disabled: #1269ec;

$button-background-text: transparent;
$button-border-focus-text: #66b1ff;
$button-border-hover-text: #66b1ff;
$button-border-active-text: #1c7be0;
$button-focus-disabled: #1269ec;
$button-hover-disabled: #1269ec;

$button-color-default: #606266;
$button-background-default: #ffffff;
$button-border-default: #dcdfe6;
$button-color-focus-default: #409eff;
$button-border-focus-default: #c6e2ff;
$button-background-focus-default: #ecf5ff;
$button-color-active-default: #3a8ee6;
$button-border-active-default: #3a8ee6;

$button-color-primary: #ffffff;
$button-background-primary: #409eff;
$button-border-primary: #409eff;
$button-background-focus-primary: #66b1ff;
$button-border-focus-primary: #66b1ff;
$button-color-focus-primary: #ffffff;
$button-background-hover-primary: #66b1ff;
$button-border-hover-primary: #66b1ff;
$button-color-hover-primary: #ffffff;
$button-background-active-primary: #3a8ee6;
$button-border-active-primary: #3a8ee6;
$button-color-active-primary: #ffffff;

$button-color-success: #ffffff;
$button-background-success: #67c23a;
$button-border-success: #67c23a;
$button-background-focus-success: #85ce61;
$button-border-focus-success: #85ce61;
$button-color-focus-success: #ffffff;
$button-background-hover-success: #85ce61;
$button-border-hover-success: #85ce61;
$button-color-hover-success: #ffffff;
$button-background-active-success: #5daf34;
$button-border-active-success: #5daf34;
$button-color-active-success: #ffffff;

$button-color-warning: #ffffff;
$button-background-warning: #ebb563;
$button-border-warning: #ebb563;
$button-background-focus-warning: #ebb563;
$button-border-focus-warning: #ebb563;
$button-color-focus-warning: #ffffff;
$button-background-hover-warning: #ebb563;
$button-border-hover-warning: #ebb563;
$button-color-hover-warning: #ffffff;
$button-background-active-warning: #cf9236;
$button-border-active-warning: #cf9236;
$button-color-active-warning: #ffffff;

$button-color-danger: #ffffff;
$button-background-danger: #f56c6c;
$button-border-danger: #f56c6c;
$button-background-focus-danger: #f78989;
$button-border-focus-danger: #f78989;
$button-color-focus-danger: #ffffff;
$button-background-hover-danger: #f78989;
$button-border-hover-danger: #f78989;
$button-color-hover-danger: #ffffff;
$button-background-active-danger: #dd6161;
$button-border-active-danger: #dd6161;
$button-color-active-danger: #ffffff;

$button-color-info: #ffffff;
$button-background-info: #909399;
$button-border-info: #909399;
$button-background-focus-info: #a6a9ad;
$button-border-focus-info: #a6a9ad;
$button-color-focus-info: #ffffff;
$button-background-hover-info: #a6a9ad;
$button-border-hover-info: #a6a9ad;
$button-color-hover-info: #ffffff;
$button-background-active-info: #82848a;
$button-border-active-info: #82848a;
$button-color-active-info: #ffffff;

$button-color-disabled: #c0c4cc;
$button-background-disabled: #ffffff;
$button-border-disabled: #ebeef5;

$button-color-disabled-primary: #ffffff;
$button-background-disabled-primary: #a0cfff;
$button-border-disabled-primary: #a0cfff;

$button-color-disabled-success: #ffffff;
$button-background-disabled-success: #b3e19d;
$button-border-disabled-success: #b3e19d;

$button-color-disabled-warning: #ffffff;
$button-background-disabled-warning: #f3d19e;
$button-border-disabled-warning: #f3d19e;

$button-color-disabled-danger: #ffffff;
$button-background-disabled-danger: #fab6b6;
$button-border-disabled-danger: #fab6b6;

$button-color-disabled-info: #ffffff;
$button-background-disabled-info: #c8c9cc;
$button-border-disabled-info: #c8c9cc;

$button-background-loading: rgba(255, 255, 255, 0.35);
