$purple:#bdc3c7;
$purple-light:#ecf0f1;
$purple-dark:#54677e;

$blue:#3792cf;
$blue-light:#3498db;
$blue-dark:#2782be;

// button 
$bg-button-default: #ecf5ff;
$bg-button-danger: rgb(236, 26, 26);
$bg-button-info: #909399;
$bg-button-primary: #07c160;
$bg-button-warning: #E6A23C;

$button-active-default:#ecf5ff;
$button-active-danger:#ce280a;
$button-active-info:#727479;
$button-active-primary:#06ae57;
$button-active-warning:rgb(185, 130, 47);

$button-active-color:#eaeaea