// 通过clear:both和display:block获取子元素高度
.pl-row {
    box-sizing: border-box;
}

.pl-row:after {
    clear: both;
}

.pl-row:before,
.pl-row:after {
    display: block;
    content: "";
}

// 设置flex布局
.pl-row--flex:after,
.pl-row--flex:before {
    display: none
}

.pl-row--flex {
    display: flex;
}

// 水平排布
.pl-row--flex.is-justify-start {
    justify-content: flex-start;
}

.pl-row--flex.is-justify-end {
    justify-content: flex-end;
}

.pl-row--flex.is-justify-center {
    justify-content: center;
}

.pl-row--flex.is-justify-space-between {
    justify-content: space-between;
}

.pl-row--flex.is-justify-space-around {
    justify-content: space-around;
}

// 垂直排布
.pl-row--flex.is-align-start {
    align-items: flex-start;
}

.pl-row--flex.is-align-center {
    align-items: center;
}

.pl-row--flex.is-align-end {
    align-items: flex-end;
}